 {% load static %}

   <!-- vendor css -->
    <link href="{% static 'lib/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/dashforge.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dashforge.filemgr.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dashforge.auth.css' %}">
  <link rel="stylesheet" href="{% static 'css/filemanager.css' %}">

  
 