	{% load static %} 

 	<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'lib/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

    <script src="{% static 'assets/js/dashforge.js' %}"></script>
    <script src="{% static 'assets/js/dashforge.filemgr.js' %}"></script>

    <!-- append theme customizer -->
    <script src="{% static 'lib/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'assets/js/dashforge.settings.js' %}"></script>

    <!-- filemanager  -->
    <script type="text/javascript" src="//stuk.github.io/jszip-utils/dist/jszip-utils.js"></script>

	<script src="{% static 'js/other.js' %}"></script>
	<script src="{% static 'js/checkbox.js' %}"></script>
	<script src="{% static 'js/jszip-utils.js' %}"></script>
	<script src="{% static 'js/zip_down.js' %}"></script>
	<script src="{% static 'js/FileSaver.js' %}"></script>
	<script src="{% static 'js/js-search.js' %}"></script>

	<script src="{% static 'js/vendor/jquery.ui.widget.js' %} "></script>
	<script src="{% static 'js/jquery.iframe-transport.js' %} "></script>
	<script src="{% static 'js/jquery.fileupload.js' %} "></script>
	<script src="{% static 'js/filemanager.js' %}"></script>

	<!-- jquery-confirm JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

	<!-- Filemanager custom JS file -->
<!-- messages -->
<script src="{% static 'js/custom/messages.js' %}"></script> 



    